* {
    margin: 0px auto;
    padding: 0px;
}

body {
    background-image: url(/img/pattern.png);

}

#wapper {
    width: 960px;
    margin: 0 auto;
    padding: 5px;
    background: #EBFAFE;
    box-sizing: border-box;
}


nav {
    width: 100%;
    height: 55px;
    background: #EDDEED;
}

.menu li {
    height: inherit;
    list-style: none;
    float: left;
    line-height: 55px;
    text-indent: 15px;
    position: relative;
}

.menu li img {
    width: inherit;
    height: inherit;
    max-width: 150px;
    height: 55px;
    padding: 0px;
}


a {
    text-decoration: none;
    font-weight: bold;
}

li:hover>a {
    color: red;
}


#sub {
    display: none;
    position: absolute;
}

nav span {
    font-size: 20px;
    font-weight: bold;
    color: red;
    float: right;
    padding: 15px;
    text-align: center;
}

nav li p {
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 70px;
}

nav span ul li {
    list-style: none;
    float: left;
    margin-right: 20px;
    text-indent: 15px;
    position: relative;
}

.detail_product {
    box-sizing: border-box;
    width: 960px;
    min-height: 400px;
    margin: 0 auto;
    padding: 5px;
    background: #EBFAFE;
}

.product {
    box-sizing: content-box;
    width: inherit;
    height: 250px;
    padding: 50px;
    float: left;
    display: flex;

}

.picture_product {
    margin: 0px;
}

.picture_product img {
    width: 200px;
    height: 250px;
}

.infor_product {
    margin: 0px 0px 0px 70px;

}

.infor_product .infor {
    padding-top: 20px;
}

.container{
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    padding: 5px;
    background: #EBFAFE;
}
.text_other_product p {
    font-size: 30px;
    text-align: center;
    color: transparent;
    background-image:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,9,121,1) 34%, rgba(255,10,56,1) 64%);;
    background-clip: text;
}
.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}
.item{
    width: 160px;
    height: fit-content;
}
.item img{
    width: 130px;
    height: 190px;
}
.item img:hover{
    opacity: 0.2;
    transition: ease-in 0.5s;
    transform: scale3d(1.1, 1.1, 1);
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
    
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 5px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}
